$columns: 12;
$gutter_right_left: 0 0.5%;
$gutter_value: 0.5%;


* {
    margin: 0;
    padding: 0;
    transition: 1s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    border: 2px black solid;
}
body {
    border: 0;
}
.container {
    border:0;
}

@mixin generate_full_grid_columns($columns_width){
    @for $i from 1 through ($columns){
        .c#{$i} {
            width: ($i * $columns_width)-(2*$gutter_value);
            min-width: ($i * $columns_width) - 10%;
            margin: $gutter_right_left;
        }
    }
}

@mixin generate_full_grid_offsets($columns_width){
    @for $i from 1 through ($columns){
        .offset#{$i} {
            margin-left: (($columns_width*$i)+$gutter_value);
        }
    }
}


/* SCREEN > 1024px
================================================== */

.container {
    div {
        float: left; 
        display: inline;
        background-color: red;

        min-height: 50px;
        margin-top: 5px !important;
        text-align: center;
    }

    position: relative; 
    width: 90%; 
    margin: 0 auto;

    @include generate_full_grid_columns(100%/$columns);
    @include generate_full_grid_offsets(100%/$columns);
}



/* SCREEN < 1024px
================================================== */

@media only screen and (max-width: 1024px){
.container {
    width: 100%;
}

@for $i from 1 through 3{
    .c#{$i} {
        $child_in_row: 5 - $i;
        &:nth-child(#{$child}n){
            display: block !important;
        }
        width: ((100 / $child_in_row) - (2 * $gutter_value)) !important;
        margin: 0 $gutter_value !important;
    }
}

.c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    &:nth-child(1n){
        display: block !important;
    }
    width: (99/1)% !important;
    margin: 0 $gutter_value !important;
}



body {
    background-color: gray;

}
}

/* SCREEN < 768px
================================================== */

@media only screen and (max-width: 768px){
.c1 {
    &:nth-child(3n){
        display: block !important;
    }
    width: (93/3)% !important;
    margin: 0 1% !important;
}
.c2 {
    &:nth-child(2n){
        display: block !important;
    }
    width: (95/2)% !important;
    margin: 0 1% !important;
}
.c3 {
    &:nth-child(n){
        display: block !important;
    }
    width: 97% !important;
    margin: 0 1% !important;
}

body {
    background-color: darken(gray,30%);

}
}

/* SCREEN < 480px 
================================================== */

@media only screen and (max-width: 480px){

.c1 {
    &:nth-child(2n){
        display: block !important;
    }
    width: (95/2)% !important;
    margin: 0 1% !important;
}

.c2 {
    &:nth-child(1n){
        display: block !important;
    }
    width: (97/1)% !important;
    margin: 0 1% !important;
}


body {
    background-color: darken(gray,60%);
}

}

/* SCREEN < 240px 
================================================== */

@media only screen and (max-width: 240px){

.c1 {
    &:nth-child(1n){
        display: block !important;
    }
    width: (97/1)% !important;
    margin: 0 1% !important;
}

body {
    background-color: darken(gray,80%);
}

}
.clear {
      
      
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      border: 0;
    }