#table-wrapper {
	
	.toogle {
		& > span {
			cursor: pointer; 
			cursor: hand;
		}
	}

	.toggle-src-main {
		font-size: 18px;
		color: $section-outline;
		font-weight: 400;
	}

	.active {
		color: $light-blue;
	}

	td:hover {
		background: $light-blue;
		color: white;
	}

	td:nth-child(2):hover {
		color: black;
		background: none;
	}


	@media screen and (min-width: 768px) {
		td, th {
			padding: 15px;
			border: 1px solid #ccc; 
			text-align: left; 
		}
	}

	@media screen and (max-width: 760px)  {
	
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }

		td, th {
			border: none;
		}
		
		td { 
			position: relative;
			padding-left: 50%; 
			margin: 10px;
		}
		
		td:before { 
			position: absolute;
			left: 6px;
			width: 50%; 
			padding-right: 10px; 
		}

		.rozlos {
			td:nth-of-type(1):before { content: "Čas"; }
			td:nth-of-type(2):before { content: "Domací"; }
			td:nth-of-type(3):before { content: "Hosté"; }
		}

		.tabul {
			td:nth-of-type(1):before { content: "Pořadí"; }
			td:nth-of-type(2):before { content: "Tým"; }
			td:nth-of-type(3):before { content: "Zápasů"; }
			td:nth-of-type(4):before { content: "Skóre"; }
			td:nth-of-type(5):before { content: "Bodů"; }
		}

		.zapasy {
			td:nth-of-type(1):before { content: "Domácí"; }
			td:nth-of-type(2):before { content: "Skóre"; }
			td:nth-of-type(3):before { content: "Hosté"; }
		}
	}

	table { 
		margin-top: 30px;
		width: 100%; 
		border-collapse: collapse; 
	}

	tr:nth-of-type(even) { 
		background: $light-grey; 
	}
	th { 
		background: $light-black; 
		color: white; 
		border: none;
	}

}