<!doctype html>
<html lang="en">
<head>
	<title>Minicup 2014</title>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">
	</script>

	<script src="js/map.js">
	</script>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
	
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="scss/complete.css">  


	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js">
	</script>
        
	<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>
	
	<!--[if lt IE 9]>
  		<script>
	      document.createElement('header');
	      document.createElement('nav');
	      document.createElement('section');
	      document.createElement('aside');
	      document.createElement('footer');
   		</script>
	<![endif]-->

</head>
<body>

	

	<header>
	
		<div class="center">

			<div id="logo">
				<svg width="250" height="250">
	  				<image xlink:href="img/logo.svg" src="img/logo.png" width="250" height="250" />
				</svg>
			</div>
			<div id="slogan">
				<h2>23. - 25. dubna</h2>
				<h3>2. ročník mezinárodního turnaje v miniházené </h3>
			</div>
			<div id="barton">
				<a href="http://www.barton-a-partner.cz/"><img src="img/barton.png" alt=""></a>
			</div>
		</div>
	</header>

	<nav class="clearfix">
		<div class="center">
			<ul class="clearfix">
			<li><a href="novinky.html">NOVINKY</a></li>
			<li><a href="index.html">INFORMACE</a></li>
			<li><a href="tabulky.html">TABULKY</a></li>
			<li><a href="tymy.html">TÝMY</a></li>
			<li><a href="fotogalerie.html">FOTOGALERIE</a></li>
			<li><a href="sponzori.html">SPONZOŘI</a></li>
			<li><a href="kontakt.html">KONTAKT</a></li>
			</ul>
		 	<a href="#" id="pull"><p>Menu</p></a> 
		</div>
	</nav>

	<div class="center">

	<section>
		<div id="content-padding">
			 <h2>Informace</h2>
			<h3>Oddíl házené TJ Tatran Litovel Vás srdečně zve k účasti na 2. ročníku mezinárodního turnaje miniházené LITOVEL MINI CUP 2014, který se uskuteční v termínu 23. – 25. 5. 2014.</h3>

			<p >Turnaj je pro určen pro družstva mladší mini (2005 a mladší) a starší mini (2003 – 2004) bez rozdílu pohlaví, tzn. chlapci, dívky, smíšené týmy. Turnaje se může zúčastnit celkem 24 týmů, z toho maximálně 12 týmů v každé věkové kategorii. Vzhledem k co největší atraktivitě turnaje si pořadatel vyhrazuje právo výběru týmů.</p>

			<h3>Hrací systém:</h3>

			<p>4 + 1, každý s každým (každý tým odehraje 11 zápasů), začátek turnaje je v pátek v 13.00 hod</p>

			<h3>Hrací doba:</h3>

			<p>2 x 10 min s 2 min. přestávkou</p>
			<h3>Kde se hraje:</h3>

			<ul>
				<li>sportovní hala ZŠ Vítězná (2 hřiště)
			</li>
				<li>venkovní areál Sokolovna Litovel (2 hřiště)
			</li>
				<li>V případě nepřízně počasí budeme nuceni přesunout venkovní zápasy do sportovní haly, tzn. zkrácení hrací doby.</li>
			</ul>

			<h3>Ubytování:</h3>

			<p>ve třídách ZŠ Vítězná – karimatka, spacák</p>

			<h3>Stravování:</h3>

			<p>školní jídelna ZŠ Vítězná (snídaně, obědy, večeře)</p>

			<h3>Vyhodnocení turnaje:
			</h3>

			<ul>
				<li>1. tři týmy z každé věkové kategorie obdrží pohár, hodnotnou cenu, každý hráč z týmu medaili.</li>
				<li>Hráči všech týmů dostanou sladkou odměnu, bude vyhodnocen nejlepší střelec, hráč a brankář každé věkové kategorie</li>
			</ul>


			<h3>Program pro děti:</h3>

			<p>pátek - diskotéka, sobota – zápas dětských hvězd, trenérů, doprovodný program</p>

			<h3>Program pro dospělé:</h3>

			<p>večerní posezení v areálu Sokolovny s ochutnávkou místních specialit, doprovodný program</p>

			<h3>Doprovodný program:</h3>

			<ul>
				<li>k využití volného času Vám nabízíme zajištění - vše v dosahu 300 m od ubytování
			krytého bazénu s parní místností (ZŠ)</li>
				<li>hřiště na plážový volejbal (házenou) - areál Sokolovny</li>
				<li>tenisový kurt – areál Sokolovny</li>
				<li>restaurace se 4 bowlingovými dráhami (2 dráhy mají dětské mantinely) – 50 m od haly</li>
				<li>projížďka Litovelským Pomoravím na raftech</li>
				<li>Pokud byste měli sportovního vyžití „nad hlavu“, jsme schopni Vám zarezervovat prohlídku blízkých Mladečských jeskyní nebo pohádkového hradu Bouzov (i noční prohlídku). Samozřejmě, že dopravu autobusem jsme schopni také zarezervovat.</li>
			</ul>








			<h3>Startovné:</h3>

			<p>1 tým z oddílu – 1 500,- Kč, 2 týmy z oddílu 2 400,- Kč</p>

			<h3>Ubytování:</h3>

			<p>85,- osobu/den, ubytování ve třídách ZŠ Vítězná. Bude vybírána vratná kauce 2 000,- Kč jako záloha na případné poškození vybavení tříd.</p>

			<h3>Strava:</h3>

			<ul>
				<li>snídaně - 50,-</li>
				<li>Oběd – 75,-</li>
				<li>Večeře – 75,-</li>
			</ul>
					</div> 
				</section>

				
				
				<aside>
					<div class="toogle">
							<span class="toggle-src" data-src="mladsi">Mladší</span>
							/
							<span class="toggle-src" data-src="starsi">Starší</span> 

					</div>
					
					<div class="aside-padding tog toggle-target" data-target="mladsi">
						<div class="hrane">
							<h2>aktuálně hrané</h2>
							<div class="zapasy">
								<span class="domaci">
									<h3>Ivanka pri Dunaji</h3>				
									<h3>TJ Jiskra Otrokovice</h3>
								</span>
								<span class="hoste">
									<h3>TJ Jiskra Otrokovice</h3>
									<h3>Ivanka pri Dunaji</h3>
								</span>
							</div>
						</div>
						<div class="nasledujici">
							<h2>následující zápasy</h2>
							<div class="zapasy">
								<span class="domaci">
									<h3>Ivanka pri Dunaji</h3>
									<h3>TJ Jiskra Otrokovice</h3>
									<h3>TJ Rožnov p. Radhoštěm</h3>
									<h3>Tatran Litovel</h3>
								</span>
								<span class="hoste">
									<h3>Ivanka pri Dunaji</h3>
									<h3>TJ Jiskra Otrokovice</h3>
									<h3>TJ Rožnov p. Radhoštěm</h3>
									<h3>Tatran Litovel</h3>
								</span>
							</div>

						</div>	

						<div class="poradi">
							<h2 class="h2">pořadí v tabulce</h2>
							<ul class="poradi-head">
								<li>Pořadí</li>
								<li>Tým</li>
								<li>Skóre</li>
								<li>Bodů</li>
							</ul>
							<ul class="gold">
								<li>1.</li>
								<li>Ivanka pri Dunaji</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul class="silver">
								<li>2.</li>
								<li>HBC Jičín</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul class="bronze">
								<li>3.</li>
								<li>TJ Jiskra Otrokovice</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>4.</li>
								<li>TJ Rožnov p. Radhoštěm</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>5.</li>
								<li>Tatran Litovel</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>6.</li>
								<li>TJ Senice na Hané</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>7.</li>
								<li>TJ Sokol II Prostějov</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>8.</li>
								<li>Ivanka pri Dunaji</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
						</div>
					</div>
					<div class="aside-padding tog toggle-target" data-target="starsi" style="display: none">
						<div class="hrane">
							<h2>aktuálně hrané</h2>

							<div class="zapasy">
								<span class="domaci">
									<h3>ŠKP Bratislava</h3>				
									<h3>SM Olomouc</h3>
								</span>
								<span class="hoste">
									<h3>SM Olomouc</h3>
									<h3>ŠKP Bratislava</h3>
								</span>
							</div>
						</div>

						<div class="nasledujici">
							<h2>následující zápasy</h2>
							
							<div class="zapasy">
								<span class="domaci">
									<h3>ŠKP Bratislava</h3>
									<h3>Tatran Litovel</h3>
									<h3>TJ Rožnov p. Radhoštěm</h3>
									<h3>ŠKP Bratislava</h3>
								</span>

								<span class="hoste">
									<h3>ŠKP Bratislava</h3>
									<h3>Tatran Litovel</h3>
									<h3>TJ Rožnov p. Radhoštěm</h3>
									<h3>ŠKP Bratislava</h3>
								</span>
							</div>

						</div>	

						<div class="poradi">
							<h2 class="h2">pořadí v tabulce</h2>
							<ul class="poradi-head">
								<li>Pořadí</li>
								<li>Tým</li>
								<li>Skóre</li>
								<li>Bodů</li>
							</ul>
							<ul class="gold">
								<li>1.</li>
								<li>Ivanka pri Dunaji</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul class="silver">
								<li>2.</li>
								<li>HBC Jičín</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul class="bronze">
								<li>3.</li>
								<li>TJ Jiskra Otrokovice</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>4.</li>
								<li>TJ Rožnov p. Radhoštěm</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>5.</li>
								<li>Tatran Litovel</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>6.</li>
								<li>TJ Senice na Hané</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>7.</li>
								<li>TJ Sokol II Prostějov</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>8.</li>
								<li>Ivanka pri Dunaji</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
						</div>
					</div>	

					<script>
						/** trida pro tlacitka */
						var toggleButtons = ".toggle-src";

						/** trida pro toggle elementy */
						var toggleTargets = ".toggle-target";

						/** trida pro highlight tlacitek */
						var toggleActive = "active";

						/** ovladani togglu: 
								<element class="toggle-src" data-src="mujcil">
							ovladane elementy:
								<element class="toggle-target" data-target="mujcil">
						*/


						$(toggleButtons).click(function(event){
							var src = $(this).data("src");

							$(toggleButtons).each(function(){
								$(this).removeClass(toggleActive);
							});
							$(this).addClass(toggleActive);


							$(toggleTargets).each(function(){
								var target = $(this).data("target");
								if (target == src) {
									$(this).show();
								} else {
									$(this).hide();
								}
							});
						});

						/* $("toggle-src")
						$("toggle-target") */


					</script>
				

		</div>
	
	<div id="map-canvas"></div>

	<footer>
			<div class="date">
				<h2>23. - 25. dubna</h2>
				<h3>2. ročník mezinárodního turnaje v miniházené </h3>
			</div>
			<div class="authors">Matěj Mitaš, Josef Kolář a spousta dalších lidí</div>
	</footer>
</body>
</html>