<!doctype html>
<html lang="en">
<head>
	<title>Minicup 2014</title>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">
	</script>

	<script src="js/map.js">
	</script>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
	
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="scss/complete.css">  


	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js">
	</script>
        
	<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>
	
	<!--[if lt IE 9]>
  		<script>
	      document.createElement('header');
	      document.createElement('article');
	      document.createElement('nav');
	      document.createElement('section');
	      document.createElement('aside');
	      document.createElement('footer');
   		</script>
	<![endif]-->

</head>
<body>

	

	<header>
	
		<div class="center">

			<div id="logo">
				<svg width="250" height="250">
	  				<image xlink:href="img/logo.svg" src="img/logo.png" width="250" height="250" />
				</svg>
			</div>
			<div id="slogan">
				<h2>23. - 25. dubna</h2>
				<h3>2. ročník mezinárodního turnaje v miniházené </h3>
			</div>
			<div id="barton">
				<a href="http://www.barton-a-partner.cz/"><img src="img/barton.png" alt=""></a>
			</div>
		</div>
	</header>

	<nav class="clearfix">
		<div class="center">
			<ul class="clearfix">
			<li><a href="novinky.html">NOVINKY</a></li>
			<li><a href="index.html">INFORMACE</a></li>
			<li><a href="tabulky.html">TABULKY</a></li>
			<li><a href="tymy.html">TÝMY</a></li>
			<li><a href="fotogalerie.html">FOTOGALERIE</a></li>
			<li><a href="sponzori.html">SPONZOŘI</a></li>
			<li><a href="kontakt.html">KONTAKT</a></li>
			</ul>
		 	<a href="#" id="pull">Menu</a> 
		</div>
	</nav>

	<div class="center">

	<section>
		<div id="content-padding">
			<div id="table-wrapper">

				<h3>Rozlosovaní/Zápasy/Tabulka</h3>

				<table>
				<thead>
					<tr>
						<th>Čas</th>
						<th>Domácí</th>
						<th>Hosté</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">13:00</td>
						<td>Ivanka pri Dunaji</td>
						<td>TJ Jiskra Otrokovice</td>
					</tr>
					<tr>
						<td>Ivanka pri Dunaji</td>
						<td>TJ Jiskra Otrokovice</td>
					</tr>
					<tr>
						<td rowspan="2">13:00</td>
						<td>Ivanka pri Dunaji</td>
						<td>TJ Jiskra Otrokovice</td>
					</tr>
					<tr>
						<td>Ivanka pri Dunaji</td>
						<td>TJ Jiskra Otrokovice</td>
					</tr>
					<tr>
						<td rowspan="2">13:00</td>
						<td>Ivanka pri Dunaji</td>
						<td>TJ Jiskra Otrokovice</td>
					</tr>
					<tr>
						<td>Ivanka pri Dunaji</td>
						<td>TJ Jiskra Otrokovice</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div> 			
	</section>

				
				
				<aside>
					<div class="toogle">
						<span class="aside-active">
							<a href="">Mladší/</a>
						</span>
							<a href="">Starší</a>
					</div>
					
					<div class="aside-padding">
						
						<div class="hrane">
							<h2>aktuálně hrané</h2>

							<div class="zapasy">
								<span class="domaci">
									<h3>Ivanka pri Dunaji</h3>				
									<h3>TJ Jiskra Otrokovice</h3>
								</span>
								<span class="hoste">
									<h3>TJ Jiskra Otrokovice</h3>
									<h3>Ivanka pri Dunaji</h3>
								</span>
							</div>
						</div>

						<div class="nasledujici">
							<h2>následující zápasy</h2>
							
							<div class="zapasy">
								<span class="domaci">
									<h3>Ivanka pri Dunaji</h3>
									<h3>TJ Jiskra Otrokovice</h3>
									<h3>TJ Rožnov p. Radhoštěm</h3>
									<h3>Tatran Litovel</h3>
								</span>

								<span class="hoste">
									<h3>Ivanka pri Dunaji</h3>
									<h3>TJ Jiskra Otrokovice</h3>
									<h3>TJ Rožnov p. Radhoštěm</h3>
									<h3>Tatran Litovel</h3>
								</span>
							</div>

						</div>	

						<div class="poradi">
							<h2 class="h2">pořadí v tabulce</h2>
							<ul class="poradi-head">
								<li>Pořadí</li>
								<li>Tým</li>
								<li>Skóre</li>
								<li>Bodů</li>
							</ul>
							<ul class="gold">
								<li>1.</li>
								<li>Ivanka pri Dunaji</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul class="silver">
								<li>2.</li>
								<li>HBC Jičín</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul class="bronze">
								<li>3.</li>
								<li>TJ Jiskra Otrokovice</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>4.</li>
								<li>TJ Rožnov p. Radhoštěm</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>5.</li>
								<li>Tatran Litovel</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>6.</li>
								<li>TJ Senice na Hané</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>7.</li>
								<li>TJ Sokol II Prostějov</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>8.</li>
								<li>Ivanka pri Dunaji</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
						</div>
					</div>	
				</aside>

				

		</div>
	
	<div id="map-canvas"></div>

	<footer>
			<div class="date">
				<h2>23. - 25. dubna</h2>
				<h3>2. ročník mezinárodního turnaje v miniházené </h3>
			</div>
			<div class="authors">Matěj Mitaš, Josef Kolář a spousta dalších lidí</div>
	</footer>
</body>
</html>