<!doctype html>
<html lang="en">
<head>
	<title>Minicup 2014</title>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">
	</script>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
	
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.php?file=complete.scss">  


	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js">
	</script>
		
	<script>
		$(function() {
			var pull		= $('#pull');
				menu		= $('nav ul');
				menuHeight  = menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
				var w = $(window).width();
				if(w > 320 && menu.is(':hidden')) {
					menu.removeAttr('style');
				}
			});
		});
	</script>

	<script>
	var toggle = function(toggleButtons, toggleTargets, toggleActive) {
		if(typeof toggleActive == "undefined") var toggleActive = "active";

		$(toggleTargets).each(function(index,el){
			if (index == 0) {
				$(el).show();
			} else {
				$(el).hide();
			}
		});

		$(toggleTargets+":first-of-type").show();

		$(toggleButtons+":first-of-type").each(function(index,el){
			$(el).addClass(toggleActive);
		});

		$(toggleButtons).click(function(event){
	   		var src = $(this).data("src");
	   		$(toggleButtons).removeClass(toggleActive);
	   		$(this).addClass(toggleActive);
			$(toggleTargets).each(function(){
				var target = $(this).data("target");
				if (target == src) {
					$(this).show();
				} else {
					$(this).hide();
				}
			});
		});
	};
	</script>
	
	<!--[if lt IE 9]>
		<script>
		  document.createElement('header');
		  document.createElement('nav');
		  document.createElement('section');
		  document.createElement('aside');
		  document.createElement('footer');
		</script>
	<![endif]-->

</head>
<body>
	<header>
		<div class="center">
			<div id="logo">
			<a href="aktuality">
				<svg width="275" height="275">
					<image xlink:href="img/logo.svg" src="img/logo.png" width="275" height="275" />
				</svg>
			</a>
			</div>
			<div id="slogan">
				<h2>23. - 25. května</h2>
				<h3>2. ročník mezinárodního turnaje v miniházené</h3>
			</div>
			<div id="barton">
				<a href="http://www.barton-a-partner.cz/"><img src="img/barton.png" alt=""></a>
			</div>
		</div>
	</header>

	<nav class="clearfix">
		<div class="center">
			<ul class="clearfix">
				<li n:foreach="$menu as $polozka => $cz">
					<a href="{$polozka}">{$cz|upper}</a>
				</li>
			</ul>
			<a href="#" id="pull">Menu</a> 
		</div>
	</nav>
<div class="center">
{block main}

{/block}
<aside>
<div class="toogle">
	<span class="toggle-src-aside active" data-src="mladsi">Mladší</span>/
	<span class="toggle-src-aside" data-src="starsi">Starší</span> 
</div>

{foreach array("mladsi" => "Mladší","starsi" => "Starší") as $key => $value}
<div class="aside-padding tog toggle-target-aside" data-target="{$key}">
{ifset $praveHrane[$key][0]}
	<div class="hrane">
		<h2>aktuálně hrané</h2>
		{foreach $praveHrane[$key] as $zapas}
		<div class="zapas">
			<span class="domaci"><h3>{$zapas["0"]}</h3></span>
			<span class="hoste"><h3>{$zapas["1"]}</h3></span>
		</div>
		{/foreach}
	</div>
{/ifset}

{ifset $nasledujici[$key][0]}
	<div class="nasledujici">
		<h2>následující zápasy</h2>
		{foreach $nasledujici[$key] as $zapas}
		<div class="zapas">
			<span class="domaci"><h3>{$zapas["0"]}</h3></span>
			<span class="hoste"><h3>{$zapas["1"]}</h3></span>
		</div>
		{/foreach}
	</div>  
{/ifset}

<div class="poradi">
	<h2 class="h2">pořadí v tabulce</h2>
	<ul class="poradi-head">
		<li>Pořadí</li>
		<li>Tým</li>
		<li>Skóre</li>
		<li>Bodů</li>
	</ul>
	{foreach $tabulka[$key] as $klic => $tym}
	<ul {if $tym["poradi"] == 1}class="gold"{/if}{if $tym["poradi"] == 2}class="silver"{/if}{if $tym["poradi"] == 3}class="bronze"{/if}>
		<li>{$tym["poradi"]}.</li>
		<li>{$tym["jmeno"]}</li>
		<li>{$tym["dane"]}:{$tym["dostane"]}</li>
		<li>{$tym["body"]}</li>
	</ul>
	{/foreach}
</div>
</div>
{/foreach}
</aside>
<script>
toggle(".toggle-src-aside",".toggle-target-aside");
</script>
</div>
	
<div id="mapDiv"></div>
<script>
	var map;
var litovel = new google.maps.LatLng(49.70460, 17.08072);
var opletalova = new google.maps.LatLng(49.70267, 17.08162);

var MY_MAPTYPE_ID = 'custom_style';

function initialize() {

  var featureOpts = [
    {
      stylers: [
        { hue: '#256ca1' },
        { visibility: 'simplified' },
        { gamma: 0.5 },
        { weight: 0.75 }
      ]
    },
    {
      elementType: 'labels',
      stylers: [
        { visibility: 'on' },
      ]
    },
    {
      featureType: 'water',
      stylers: [
        { color: '#256ca1' }
      ]
    }
  ];

  var mapOptions = {
    zoom: 14,
    center: litovel,
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
    },
    mapTypeId: MY_MAPTYPE_ID,
    disableDefaultUI: true
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var marker1 = new google.maps.Marker({
      position: litovel,
      map: map,
      title: 'Hello World!'
  });

  var marker2 = new google.maps.Marker({
      position: opletalova,
      map: map,
      title: 'Hello World!'
  });



  var styledMapOptions = {
    name: 'Custom Style'
  };

  var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);

  map.mapTypes.set(MY_MAPTYPE_ID, customMapType);
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

	<footer>
			<div class="date">
				<h2>23. - 25. května</h2>
				<h3>2. ročník mezinárodního turnaje v miniházené </h3>
			</div>
			<div class="authors">Matěj Mitaš, Josef Kolář a spousta dalších lidí <br> {$time|noescape}</div>
	</footer>
</body>
</html>