{extends '@layout.latte'}
{block main}
<section>
	<div id="content-padding">
		<h2>Sponzoři</h2>
		<ul class="sponzori boxes">
			<li><a target="_blank" href="https://www.ceskapojistovna.cz/"><img src="img/pics_sponzori/CeskaPojistovna.png" alt="česká pojištovna"></a></li>
			<li><a target="_blank" href="http://www.elzel.cz/"><img src="img/pics_sponzori/EZ.png" alt="elektrizace železnic"></a></li>
			<li><a target="_blank" href="http://www.hummelsport.cz/"><img src="img/pics_sponzori/Hummel.png" alt="Hummel"></a></li>
			<li><a target="_blank" href="http://www.lesycr.cz/"><img src="img/pics_sponzori/Lesy.png" alt="lesy České republiky"></a></li>
			<li><a target="_blank" href="http://www.nutrend.cz/"><img src="img/pics_sponzori/Nutrend.png" alt="Nutrend"></a></li>
			<li><a target="_blank" href="http://www.kr-olomoucky.cz/"><img src="img/pics_sponzori/OlomouckyKraj.png" alt="Olomoucký kraj"></a></li>
			<li><a target="_blank" href="http://www.whirlpool.cz/"><img src="img/pics_sponzori/Whirpool.png" alt="Whirpool"></a></li>
			<li><a target="_blank" href="http://www.zsviteznalitovel.cz/"><img src="img/pics_sponzori/ZSVitezna.png" alt="ZŠ Vítězná Litovel"></a></li>
			<li><a target="_blank" href="http://litovel.eu/"><img src="img/pics_sponzori/MestoLitovel.png" alt="Město Litovel"></a></li>
			<li><a target="_blank" href="http://www.aaaauto.cz/"><img src="img/pics_sponzori/aaa.png" alt="AAA Auto"></a></li>
			<li><a target="_blank" href="http://www.cpzp.cz/"><img src="img/pics_sponzori/Pojistovna.png" alt="ČPZP"></a></li>
			<li><a target="_blank" href="http://www.mtcomax.cz/"><img src="img/pics_sponzori/Metal.png" alt="Metal Comax"></a></li>
			<li><a target="_blank" href="http://www.pento.cz/"><img src="img/pics_sponzori/Pento.png" alt="Pento"></a></li>
			<li><a target="_blank" href="http://www.solac.com/"><img src="img/pics_sponzori/Solac.png" alt="Solac"></a></li>
			<li><a target="_blank" href="http://www.sev-litovel.cz/"><img src="img/pics_sponzori/Sev.png" alt="Sev Litovel"></a></li>
			<li><a target="_blank" href="http://www.albi.cz/"><img src="img/pics_sponzori/Albi.png" alt="Albi"></a></li>
		</ul>
	</div> 
</section>
{/block}