RewriteEngine On
RewriteBase /Minicup-2014/

# URI bez lomitka na konci
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ $1 [R=301,NE,L]

# pro detail tymu
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(mladsi|starsi)/(1|2|3|4|5|6|7|8|9|10|11|12)$ index.php?controller=tymy&cat=$1&id=$2 [L]

# pro administraci a vkladani zapasu
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^administrace/(mladsi|starsi)$ index.php?controller=administrace&cat=$1 [L]

# pro hlavni controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?controller=$1 [L]