RewriteEngine On
RewriteBase /Minicup-2014/

# URI bez lomitka na konci
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ $1 [R=301,NE,L]

# pro druhy parametr
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)$ index.php?controller=$1&akce=$2 [L]

# pro prvni parametr
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?controller=$1 [L]