#warning {
  display: block;
  background: #580200;
  height: 150px;
  color: white; }
  #warning p {
    text-align: center;
    padding-top: 70px; }
  #warning a {
    color: white; }
  #warning h2 {
    font-size: 48px;
    font-weight: 300;
    padding-top: 20px; }
  #warning h3 {
    line-height: 2.5; }
  #warning h4 {
    font-size: 14px; }
  #warning .iconBlock {
    font-size: 80px;
    padding-top: 35px;
    text-align: center; }
