<ul class="boxes foto dayContent" data-target="{$den}">
    {if $chyba}
        <h2>Zatím nebyly vloženy žádné fotografie</h2>
    {else}
    {foreach $fotoList as $key => $fotka}
    <li>
        <a rel="{$den}" href="/{$basePath}/upload/{$den}/{$fotka[0]}" class="swipebox" title="MINICUP 2014">
            <img src="/{$basePath}/upload/{$den}/{$fotka[1]}" alt="image">
        </a>
    </li>
    {/foreach}
    {/if}
</ul>