{layout '@layout.latte'}

{block main}
<div id="article-wraper">
	{foreach $novinky as $novinka}
	<article>
		<div id="content-padding">
			<div class="article-text">
				<h4>přidáno <span class="article-date">{$novinka["vlozeno"]|relDateCZ}</span></h4>

				<h2>{$novinka["titulek"]}</h2>

				<h3>{$novinka["aktualita"]|noescape}</h3>
			</div>
		</div>
	</article>
	{/foreach}
</div>
{/block}
