aside {
	background: $dark-black;
	border-radius: $border-radius;

	.aside-padding {
		padding: 0px 10px 700px 10px;

		& > div {
			border-bottom: 1px solid darken($white, 70%);
		}

		.poradi {
			border-bottom: 0;
		}
	}

	h2 {
		font-size: 14px;
		color: white;
		padding: 25px 0px 25px 0px;
		text-align: center;
 	}

	h3 {
		color: $light-grey;
		font-weight: 300;
		font-size: 13px;
	}

	.toogle {
		background: $light-black;
		text-align: center;
		padding: 30px 0 30px 0;
		border-radius: 10px 10px 0 0;
		font-size: 18px;
	}
	
	.toogle a {
		color: darken($white, 50%);
	}

	.aside-active a {
		color: white;
	}

	.domaci h3 {
		color: darken($white, 10%);
		padding: 10px 30px 10px 0px;
		text-align: right;
	}
	.hoste h3 {
		color: darken($white, 40%);
		padding: 10px 0px 10px 3px;
	}

	ul {
		color: white;
		
		li {
			font-size: 14px;
			text-align: center;
			line-height: 20px;
			padding: 10px 0 0 0;
		}
		li:nth-child(2) {
			text-align: left;
		}
		li:nth-child(2):hover {
			text-decoration: underline;
		}

	}
	
	h2, .toogle {
		text-transform: uppercase;
		font-weight: 700;
		border-bottom: 1px solid darken($white, 70%);
	}
	
	.gold {
		color: $gold;
	}

	.silver {
		color: $silver;
	}

	.bronze {
		color: $bronze;
	}
}
