section, article {
	background: $white;
	box-shadow: inset 0 0 0 1px $section-outline;
	border-radius: $border-radius;
	margin-bottom: 15px;
}

#content-padding {
	padding: 32px;
}

section {

	h2 {
		color: $light-black;
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 20px;
		text-transform: uppercase;
	}

	h3 {
		font-size: 18px;
		padding-bottom: 10px;
	}

	p {
		font-size: 16px;
		line-height: 1.15;
		color: $section-paragraph;
		padding-bottom: 15px;
		font-weight: 300;
		a {
			color: black;
			text-decoration: underline;
			font-weight: 700;
		}
		a:hover {
			color: $dark-blue;
		}
	}

	li {
		color: $section-paragraph;
		padding-bottom: 5px;
		font-weight: 300;
	}
	li:last-child {
		padding-bottom: 15px;
	}
}

article {
	
	h2 {
		font-size: 38px;
		padding: 20px 0;
	}

	h3 {
		color: $section-paragraph;
		line-height: 1.5;
		font-size: 15px;
		font-weight: 300;
	}

	h4 {
		font-size: 15px;
		font-weight: 300;
	}
	
	.article-date {
		font-weight: 700;
	}

	.article-icon {
		height: 100%;
		padding: 10px;
	}
}

ul.tymy {

	li {
				
		margin-bottom: 10px;
		font-size: 24px;
		padding: 2.5em 0;
		color: $section-paragraph;
		text-align: center;
		border-radius: $border-radius;
		box-shadow: inset 0 0 0 1px $section-paragraph;

		&:hover {
			color: white;
			background: $yellow;
			box-shadow: none;
			}
		}

	}

ul.foto img {
	width: 100%;
}

ul.sponzori img {
	width: 90%;
}

