section, article {
	background: $white;
	box-shadow: inset 0 0 0 1px $section-outline;
	border-radius: $border-radius;
	margin-bottom: 15px;
}

#content-padding {
	padding: 32px;
}

section {

	h1 {
		font-size: 68px;
		font-weight: 300;
		padding: 30px 0 70px 0;
	}

	h2 {
		color: $light-black;
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 20px;
		text-transform: uppercase;
		border-bottom: 1px solid $section-outline;
	}

	h3 {
		font-size: 18px;
		padding-bottom: 10px;
		padding-top: 20px;
	}

	p {
		font-size: 16px;
		line-height: 1.15;
		color: $section-paragraph;
		padding-bottom: 15px;
		font-weight: 300;
		a {
			color: black;
			text-decoration: underline;
			font-weight: 700;
		}
		a:hover {
			color: $dark-blue;
		}
	}

	li {
		color: $section-paragraph;
		padding-bottom: 5px;
		font-weight: 300;
	}
	li:last-child {
		padding-bottom: 15px;
	}

}

article {
	
	h2 {
		font-size: 38px;
		padding: 20px 0;
	}

	h3 {
		color: $section-paragraph;
		line-height: 1.5;
		font-size: 15px;
		font-weight: 300;
	}

	h4 {
		font-size: 15px;
		font-weight: 300;
	}
	
	.article-date {
		font-weight: 700;
	}

	.article-icon {
		padding-top: 2%;
	}
}

ul.tymy {

	li {
				
		margin-bottom: 10px;
		font-size: 24px;
		padding: 2.5em 0;
		color: $section-paragraph;
		text-align: center;
		border-radius: $border-radius;
		box-shadow: inset 0 0 0 1px $section-paragraph;

		&:hover {
			color: white;
			background: $yellow;
			box-shadow: none;
			}	
		a {
			color: $section-paragraph;
			}	

		}	

	}

#foto-wrapper {
	h2 {
		border-bottom: 0;
		&:not(:first-child) {
			border-top: 1px solid lighten($section-outline, 15%);
			padding-top: 20px;
		}
	}
}

ul.foto {
	img {
		width: 100%;
		max-height: 200px;
		border: 1px solid black;
		border-radius: $border-radius;
	}
	li {
		padding-top: 20px;
	}
}

ul.sponzori img {
	width: 90%;
}

#detail-wrapper {
	h2 {
		color: $light-blue;
		font-size: 36px;
		padding: 20px 10px 50px 5px;
		border: 0;
	}

	h4 {
		font-size: 30px;
		padding-bottom: 10px;
	}
	span.red {
		color: red;
	}
	span.green {
		color: lighten(green, 15%);
	}
}

#form-wrapper {
	& + p {
		padding-top: 20px;
	}
}

#table-wrapper {
	table td, table th{
		border: 1px solid black;
		vertical-align: middle;
	}
}



