header {
	position: relative;
	background: $dark-black;
	color: white;
}

#logo {
	padding: 32px 32px 32px 16px;
}

#slogan {
	padding-top: 120px;

	h2 {
		font-size: 38px;
		padding-bottom: 14px;
	}
	h3 {
		font-size: 13px;
		text-transform: upper-alpha;
	}
}

#barton img {
	width: 240px;
	padding-top: 120px;
}

@media screen and (max-width: 768px) {
	header {
		#slogan, #barton {
			padding-top: 0px;
		}
		
		#slogan {
			padding-bottom: 32px;
		}

		#barton img {
			display: none;
		}
	}
}

@media screen and (max-width: 480px) {
	header {
		#barton {
			margin-bottom: 16px;
		}

		#barton img {
			padding-top: 0;
		}

		#slogan {
			padding-bottom: 16px;
		}
	}
}

