$columns: 12;
$column-width: 60;
$gutter-width: 10;

$total-width: 100%;



body {
  width: 100%;
  background: $light-grey;
  font-family: 'Ubuntu', sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;   
}

.center {
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}

footer, .hrane, .nasledujici, .poradi {
	@include column(12);
}

nav {
	margin-bottom: 16px;
}

.center {
	#logo {
		@include column(3);
	}
	#slogan {
		@include column(5);
	}
	#barton {
		@include column(3);
	}
}


section {
	@include column(8);
}

aside {
	@include column(4);

	.domaci {
		@include column(6);
	}
	.hoste {
		@include column(6);
	}
	ul {
		@include row(4);
		
		li:first-child {
			@include column(0.75, 4)
		}
		li:nth-child(2) {
			@include column(1.75 , 4)
		}
		li:nth-child(3) {
			@include column(1, 4)
		}
		li:last-child {
			@include column(0.5, 4)
		}
	}
}

#mapDiv {
	@include column(12);
}

@media screen and (min-width: 1280px) {
	.center {
		#logo {
			@include column(2.5);
		}
		#slogan {
			@include column(6);
		}
		#barton {
			@include column(3);
		}
	}
}

@media screen and (max-width: 768px) {
	.center {	
	 	#logo {
			@include push(3.25);
	 	}
		#slogan {
	 		@include push(3.75);
		}
	 }
	aside {
		display: none;
	}
	section {
		@include column(12);
	}
}

@media screen and (max-width: 480px) {
	.center {
		#slogan {
			@include column(8);
		}
		#logo {
			@include push(1.5);
		}
		#slogan {
			@include push(3);
		}
	}
}