#table-wrapper {
	@media screen and (min-width: 768px) {
		td, th {
			padding: 10px;
			border: 1px solid #ccc; 
			text-align: left; 
		}
	}

	@media screen and (max-width: 760px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }

		td, th {
			border: none;
		}
		
		td { 
			/* Behave  like a "row" */
			position: relative;
			padding-left: 50%; 
			margin: 10px;
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			left: 6px;
			width: 50%; 
			padding-right: 10px; 
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Cas"; }
		td:nth-of-type(2):before { content: "Domaci"; }
		td:nth-of-type(3):before { content: "Hoste"; }
	}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		border: none;
	}

}