/*Color variables======================================
=======================================================*/

$light-grey: #ededed;
$white: white;
$light-blue: #2c8dd7;
$dark-blue: #256ca1;
$light-black: #333;
$dark-black: #2a2a2a;
$bronze: #6f480a;
$silver: #c1c1c1;
$gold: #b99404;
$section-outline: #cccccc;

/*Font=================================================
=======================================================*/

body {
	box-sizing:border-box;  
    -moz-box-sizing:border-box;  
    -webkit-box-sizing:border-box;  
}

/*Main elem styles=====================================
=======================================================*/

header {
	background: $dark-black;
	color: $white;
}

nav {
	background: $light-blue;
	border-bottom: 1px solid $dark-blue;
}

section {
	background: $light-grey;
	border: 1px solid $section-outline;
}

aside {
	background: $dark-black;
}

footer {
	background: $dark-black;
}

section, aside {
	
}

/*Header===============================================
=======================================================*/


/*Nav=================================================
=======================================================*/

nav {
	padding: 20px 0 20px 0;

	li {
		display: inline;
		a {
			color: lighten( $light-blue, 25%);
		}
		a:hover {
			color: $white;
		}
	}

	.nav-active {
		color: $white;
		background: $dark-blue;
	}
}

/*Section=================================================
=======================================================*/



