<!doctype html>
<html lang="en">
<head>
	<title>Minicup 2014</title>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">
	</script>

	<script src="js/map.js">
	</script>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
	
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="scss/complete.css">  


	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js">
	</script>
        
	<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>

	<script>
	var toggle = function(toggleButtons, toggleTargets, toggleActive) {
		if(typeof toggleActive == "undefined") var toggleActive = "active";

		$(toggleTargets).each(function(index,el){
			if (index == 0) {
				$(el).show();
			} else {
				$(el).hide();
			}
		});

		$(toggleTargets+":first-of-type").show();

		$(toggleButtons+":first-of-type").each(function(index,el){
			$(el).addClass(toggleActive);
		});

		$(toggleButtons).click(function(event){
	   		var src = $(this).data("src");
	   		$(toggleButtons).removeClass(toggleActive);
	   		$(this).addClass(toggleActive);
			$(toggleTargets).each(function(){
				var target = $(this).data("target");
				if (target == src) {
					$(this).show();
				} else {
					$(this).hide();
				}
			});
		});
	};
	</script>
	
	<!--[if lt IE 9]>
  		<script>
	      document.createElement('header');
	      document.createElement('article');
	      document.createElement('nav');
	      document.createElement('section');
	      document.createElement('aside');
	      document.createElement('footer');
   		</script>
	<![endif]-->

</head>
<body>
	<header>
	
		<div class="center">

			<div id="logo">
				<svg width="275" height="275">
	  				<image xlink:href="img/logo.svg" src="img/logo.png" width="275" height="275" />
				</svg>
			</div>
			<div id="slogan">
				<h2>23. - 25. dubna</h2>
				<h3>2. ročník mezinárodního turnaje v miniházené </h3>
			</div>
			<div id="barton">
				<a href="http://www.barton-a-partner.cz/"><img src="img/barton.png" alt=""></a>
			</div>
		</div>
	</header>

	<nav class="clearfix">
		<div class="center">
			<ul class="clearfix">
			<li><a href="novinky.html">NOVINKY</a></li>
			<li><a href="index.html">INFORMACE</a></li>
			<li><a href="tabulky.html">TABULKY</a></li>
			<li><a href="tymy.html">TÝMY</a></li>
			<li><a href="fotogalerie.html">FOTOGALERIE</a></li>
			<li><a href="sponzori.html">SPONZOŘI</a></li>
			<li><a href="kontakt.html">KONTAKT</a></li>
			</ul>
		 	<a href="#" id="pull">Menu</a> 
		</div>
	</nav>

	<div class="center">

	<section>
<div id="content-padding">
<div id="table-wrapper">
	<div class="toogle togmain">
		<span class="toggle-src-main" data-src="rozlos">Rozlosování /</span>
		<span class="toggle-src-main" data-src="zapasy">Zápasy /</span>
		<span class="toggle-src-main" data-src="tabul">Tabulky</span>	
	</div>
	
	<div class="toggle-target-main" data-target="rozlos">
		<div class="toogle togsub">
			<span class="toggle-src-sub-rozlos" data-src="mladsi">Mladší /</span>
			<span class="toggle-src-sub-rozlos" data-src="starsi"> Starší</span>
		</div>

			<div class="rozlos toggle-target-sub-rozlos" data-target="mladsi">
			
			<br>
			<h4>Pátek 23. 5.</h4>
			<table class="rozlos">
				<thead>
				<tr>
					<th>domácí</th>
					<th>čas</th>
					<th>hosté</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Tatran Litovel</td>
					<td>13:00</td>
					<td> --- </td>
				</tr>
				<tr>
					<td>Velká bystřice</td>
					<td>13:00</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				<tr>
					<td>SK Žeravice</td>
					<td>13:30</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>TJ JM Chodov</td>
					<td>13:30</td>
					<td> --- </td>
				</tr>
				<tr>
					<td>Sokol Prostějov</td>
					<td>14:00</td>
					<td>HBC Jičín</td>
				</tr>
				<tr>
					<td>ŠKP Bratislava</td>
					<td>14:00</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				<tr>
					<td>Velká bystřice</td>
					<td>14:30</td>
					<td>Tatran Litovel</td>
				</tr>
				<tr>
					<td>STM Olomouc</td>
					<td>14:30</td>
					<td> --- </td>
				</tr>
				<tr>
					<td>DHK Zora Olomouc</td>
					<td>15:00</td>
					<td>TJ JM Chodov</td>
				</tr>
				<tr>
					<td>HBC Jičín</td>
					<td>15:00</td>
					<td>SK Žeravice</td>
				</tr>
				<tr>
					<td> --- </td>
					<td>15:30</td>
					<td>ŠKP Bratislava</td>
				</tr>
				<tr>
					<td>Handball Val. Meziříčí</td>
					<td>15:30</td>
					<td>Sokol Prostějov</td>
				</tr>
				<tr>
					<td>Tatran Litovel</td>
					<td>16:00</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>TJ JM Chodov</td>
					<td>16:00</td>
					<td>Velká bystřice</td>
				</tr>
				<tr>
					<td> --- </td>
					<td>16:30</td>
					<td>HBC Jičín</td>
				</tr>
				<tr>
					<td>ŠKP Bratislava</td>
					<td>16:30</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				<tr>
					<td>SK Žeravice</td>
					<td>17:00</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				<tr>
					<td>Sokol Prostějov</td>
					<td>17:00</td>
					<td> --- </td>
				</tr>
				</tbody>	
			</table>
			<h4>Sobota 24. 5.</h4>
			<table class="rozlos">
				<thead>
				<tr>
					<th>domácí</th>
					<th>čas</th>
					<th>hosté</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>TJ JM Chodov</td>
					<td>9:00</td>
					<td>Tatran Litovel</td>
				</tr>
				<tr>
					<td>HBC Jičín</td>
					<td>9:00</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>Velká bystřice</td>
					<td>9:30</td>
					<td>ŠKP Bratislava</td>
				</tr>
				<tr>
					<td>Handball Val. Meziříčí</td>
					<td>9:30</td>
					<td> --- </td>
				</tr>
				<tr>
					<td>DHK Zora Olomouc</td>
					<td>10:00</td>
					<td>Sokol Prostějov</td>
				</tr>
				<tr>
					<td> --- </td>
					<td>10:00</td>
					<td>SK Žeravice</td>
				</tr>
				<tr>
					<td>Tatran Litovel</td>
					<td>10:30</td>
					<td>HBC Jičín</td>
				</tr>
				<tr>
					<td>ŠKP Bratislava</td>
					<td>10:30</td>
					<td>TJ JM Chodov</td>
				</tr>
				<tr>
					<td>STM Olomouc</td>
					<td>11:00</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				<tr>
					<td>Sokol Prostějov</td>
					<td>11:00</td>
					<td>Velká bystřice</td>
				</tr>
				<tr>
					<td> --- </td>
					<td>11:30</td>
					<td> --- </td>
				</tr>
				<tr>
					<td>SK Žeravice</td>
					<td>11:30</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				<tr>
					<td>ŠKP Bratislava</td>
					<td>12:00</td>
					<td>Tatran Litovel</td>
				</tr>
				<tr>
					<td>Handball Val. Meziříčí</td>
					<td>12:00</td>
					<td>HBC Jičín</td>
				</tr>
				<tr>
					<td>TJ JM Chodov</td>
					<td>12:30</td>
					<td>Sokol Prostějov</td>
				</tr>
				<tr>
					<td> --- </td>
					<td>12:30</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>Velká bystřice</td>
					<td>13:00</td>
					<td>SK Žeravice</td>
				</tr>
				<tr>
					<td>DHK Zora Olomouc</td>
					<td>13:00</td>
					<td> --- </td>
				</tr>
				<tr>
					<td>Tatran Litovel</td>
					<td>13:30</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				<tr>
					<td>Sokol Prostějov</td>
					<td>13:30</td>
					<td>ŠKP Bratislava</td>
				</tr>
				<tr>
					<td>HBC Jičín</td>
					<td>14:00</td>
					<td> --- </td>
				</tr>
				<tr>
					<td>SK Žeravice</td>
					<td>14:00</td>
					<td>TJ JM Chodov</td>
				</tr>
				<tr>
					<td>STM Olomouc</td>
					<td>14:30</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				<tr>
					<td> --- </td>
					<td>14:30</td>
					<td>Velká bystřice</td>
				</tr>
				<tr>
					<td>Sokol Prostějov</td>
					<td>15:00</td>
					<td>Tatran Litovel</td>
				</tr>
				<tr>
					<td> --- </td>
					<td>15:00</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				</tbody>	
			</table>
			<h4>Neděle 25. 5.</h4>
			<table class="rozlos">
				<thead>
				<tr>
					<th>domácí</th>
					<th>čas</th>
					<th>hosté</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>ŠKP Bratislava</td>
					<td>9:00</td>
					<td>SK Žeravice</td>
				</tr>
				<tr>
					<td>DHK Zora Olomouc</td>
					<td>9:00</td>
					<td>HBC Jičín</td>
				</tr>
				<tr>
					<td>TJ JM Chodov</td>
					<td>9:30</td>
					<td> --- </td>
				</tr>
				<tr>
					<td>Velká bystřice</td>
					<td>9:30</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>Tatran Litovel</td>
					<td>10:00</td>
					<td> --- </td>
				</tr>
				<tr>
					<td>SK Žeravice</td>
					<td>10:00</td>
					<td>Sokol Prostějov</td>
				</tr>
				<tr>
					<td>Handball Val. Meziříčí</td>
					<td>10:30</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				<tr>
					<td> --- </td>
					<td>10:30</td>
					<td>ŠKP Bratislava</td>
				</tr>
				<tr>
					<td>HBC Jičín</td>
					<td>11:00</td>
					<td>Velká bystřice</td>
				</tr>
				<tr>
					<td>STM Olomouc</td>
					<td>11:00</td>
					<td>TJ JM Chodov</td>
				</tr>
				<tr>
					<td>SK Žeravice</td>
					<td>11:30</td>
					<td>Tatran Litovel</td>
				</tr>
				<tr>
					<td>DHK Zora Olomouc</td>
					<td>11:30</td>
					<td> --- </td>
				</tr>
				<tr>
					<td>Sokol Prostějov</td>
					<td>12:00</td>
					<td> --- </td>
				</tr>
				<tr>
					<td>Velká bystřice</td>
					<td>12:00</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				<tr>
					<td>ŠKP Bratislava</td>
					<td>12:30</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>TJ JM Chodov</td>
					<td>12:30</td>
					<td>HBC Jičín</td>
				</tr>
				<tr>
					<td>Tatran Litovel</td>
					<td>13:00</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				<tr>
					<td> --- </td>
					<td>13:00</td>
					<td>SK Žeravice</td>
				</tr>
				<tr>
					<td> --- </td>
					<td>13:30</td>
					<td>Velká bystřice</td>
				</tr>
				<tr>
					<td>STM Olomouc</td>
					<td>13:30</td>
					<td>Sokol Prostějov</td>
				</tr>
				<tr>
					<td>Handball Val. Meziříčí</td>
					<td>14:00</td>
					<td>TJ JM Chodov</td>
				</tr>
				<tr>
					<td>HBC Jičín</td>
					<td>14:00</td>
					<td>ŠKP Bratislava</td>
				</tr>
				</tbody>	
			</table>
			</div>
			<div class="rozlos toggle-target-sub-rozlos" data-target="starsi">
			<br>
			<h4>Pátek 23. 5.</h4>
			<table class="rozlos">
				<thead>
				<tr>
					<th>domácí</th>
					<th>čas</th>
					<th>hosté</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Tatran Litovel</td>
					<td>13:00</td>
					<td>Otrokovice</td>
				</tr>
				<tr>
					<td>HBC Jičín</td>
					<td>13:00</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>Dukla Praha</td>
					<td>13:30</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				<tr>
					<td>TJ JM Chodov</td>
					<td>13:30</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				<tr>
					<td>Velká Bystřice</td>
					<td>14:00</td>
					<td>ŠKP Bratislava</td>
				</tr>
				<tr>
					<td>Sokol Prostějov</td>
					<td>14:00</td>
					<td>Dvůr Králové</td>
				</tr>
				<tr>
					<td>HBC Jičín</td>
					<td>14:30</td>
					<td>Tatran Litovel</td>
				</tr>
				<tr>
					<td>Handball Val. Meziříčí</td>
					<td>14:30</td>
					<td>Otrokovice</td>
				</tr>
				<tr>
					<td>STM Olomouc</td>
					<td>15:00</td>
					<td>TJ JM Chodov</td>
				</tr>
				<tr>
					<td>ŠKP Bratislava</td>
					<td>15:00</td>
					<td>Dukla Praha</td>
				</tr>
				<tr>
					<td>DHK Zora Olomouc</td>
					<td>15:30</td>
					<td>Sokol Prostějov</td>
				</tr>
				<tr>
					<td>Dvůr Králové</td>
					<td>15:30</td>
					<td>Velká Bystřice</td>
				</tr>
				<tr>
					<td>Tatran Litovel</td>
					<td>16:00</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				<tr>
					<td>TJ JM Chodov</td>
					<td>16:00</td>
					<td>HBC Jičín</td>
				</tr>
				<tr>
					<td>Otrokovice</td>
					<td>16:30</td>
					<td>ŠKP Bratislava</td>
				</tr>
				<tr>
					<td>Sokol Prostějov</td>
					<td>16:30</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>Dukla Praha</td>
					<td>17:00</td>
					<td>Dvůr Králové</td>
				</tr>
				<tr>
					<td>Velká Bystřice</td>
					<td>17:00</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				</tbody>	
			</table>
			<h4>Sobota 24. 5.</h4>
			<table class="rozlos">
				<thead>
				<tr>
					<th>domácí</th>
					<th>čas</th>
					<th>hosté</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>TJ JM Chodov</td>
					<td>9:00</td>
					<td>Tatran Litovel</td>
				</tr>
				<tr>
					<td>ŠKP Bratislava</td>
					<td>9:00</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				<tr>
					<td>HBC Jičín</td>
					<td>9:30</td>
					<td>Sokol Prostějov</td>
				</tr>
				<tr>
					<td>Dvůr Králové</td>
					<td>9:30</td>
					<td>Otrokovice</td>
				</tr>
				<tr>
					<td>STM Olomouc</td>
					<td>10:00</td>
					<td>Velká Bystřice</td>
				</tr>
				<tr>
					<td>DHK Zora Olomouc</td>
					<td>10:00</td>
					<td>Dukla Praha</td>
				</tr>
				<tr>
					<td>Tatran Litovel</td>
					<td>10:30</td>
					<td>ŠKP Bratislava</td>
				</tr>
				<tr>
					<td>Sokol Prostějov</td>
					<td>10:30</td>
					<td>TJ JM Chodov</td>
				</tr>
				<tr>
					<td>Handball Val. Meziříčí</td>
					<td>11:00</td>
					<td>Dvůr Králové</td>
				</tr>
				<tr>
					<td>Velká Bystřice</td>
					<td>11:00</td>
					<td>HBC Jičín</td>
				</tr>
				<tr>
					<td>Otrokovice</td>
					<td>11:30</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				<tr>
					<td>Dukla Praha</td>
					<td>11:30</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>Sokol Prostějov</td>
					<td>12:00</td>
					<td>Tatran Litovel</td>
				</tr>
				<tr>
					<td>Dvůr Králové</td>
					<td>12:00</td>
					<td>ŠKP Bratislava</td>
				</tr>
				<tr>
					<td>TJ JM Chodov</td>
					<td>12:30</td>
					<td>Velká Bystřice</td>
				</tr>
				<tr>
					<td>DHK Zora Olomouc</td>
					<td>12:30</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				<tr>
					<td>HBC Jičín</td>
					<td>13:00</td>
					<td>Dukla Praha</td>
				</tr>
				<tr>
					<td>STM Olomouc</td>
					<td>13:00</td>
					<td>Otrokovice</td>
				</tr>
				<tr>
					<td>Tatran Litovel</td>
					<td>13:30</td>
					<td>Dvůr Králové</td>
				</tr>
				<tr>
					<td>Velká Bystřice</td>
					<td>13:30</td>
					<td>Sokol Prostějov</td>
				</tr>
				<tr>
					<td>ŠKP Bratislava</td>
					<td>14:00</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				<tr>
					<td>Dukla Praha</td>
					<td>14:00</td>
					<td>TJ JM Chodov</td>
				</tr>
				<tr>
					<td>Handball Val. Meziříčí</td>
					<td>14:30</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>Otrokovice</td>
					<td>14:30</td>
					<td>HBC Jičín</td>
				</tr>
				<tr>
					<td>Velká Bystřice</td>
					<td>15:00</td>
					<td>Tatran Litovel</td>
				</tr>
				<tr>
					<td>DHK Zora Olomouc</td>
					<td>15:00</td>
					<td>Dvůr Králové</td>
				</tr>
				</tbody>	
			</table>
			<h4>Neděle 25. 5.</h4>
			<table class="rozlos">
				<thead>
				<tr>
					<th>domácí</th>
					<th>čas</th>
					<th>hosté</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Sokol Prostějov</td>
					<td>9:00</td>
					<td>Dukla Praha</td>
				</tr>
				<tr>
					<td>STM Olomouc</td>
					<td>9:00</td>
					<td>ŠKP Bratislava</td>
				</tr>
				<tr>
					<td>TJ JM Chodov</td>
					<td>9:30</td>
					<td>Otrokovice</td>
				</tr>
				<tr>
					<td>HBC Jičín</td>
					<td>9:30</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				<tr>
					<td>Tatran Litovel</td>
					<td>10:00</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				<tr>
					<td>Dukla Praha</td>
					<td>10:00</td>
					<td>Velká Bystřice</td>
				</tr>
				<tr>
					<td>Dvůr Králové</td>
					<td>10:30</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>Otrokovice</td>
					<td>10:30</td>
					<td>Sokol Prostějov</td>
				</tr>
				<tr>
					<td>ŠKP Bratislava</td>
					<td>11:00</td>
					<td>HBC Jičín</td>
				</tr>
				<tr>
					<td>Handball Val. Meziříčí</td>
					<td>11:00</td>
					<td>TJ JM Chodov</td>
				</tr>
				<tr>
					<td>Dukla Praha</td>
					<td>11:30</td>
					<td>Tatran Litovel</td>
				</tr>
				<tr>
					<td>STM Olomouc</td>
					<td>11:30</td>
					<td>DHK Zora Olomouc</td>
				</tr>
				<tr>
					<td>Velká Bystřice</td>
					<td>12:00</td>
					<td>Otrokovice</td>
				</tr>
				<tr>
					<td>HBC Jičín</td>
					<td>12:00</td>
					<td>Dvůr Králové</td>
				</tr>
				<tr>
					<td>Sokol Prostějov</td>
					<td>12:30</td>
					<td>Handball Val. Meziříčí</td>
				</tr>
				<tr>
					<td>TJ JM Chodov</td>
					<td>12:30</td>
					<td>ŠKP Bratislava</td>
				</tr>
				<tr>
					<td>Tatran Litovel</td>
					<td>13:00</td>
					<td>STM Olomouc</td>
				</tr>
				<tr>
					<td>Otrokovice</td>
					<td>13:00</td>
					<td>Dukla Praha</td>
				</tr>
				<tr>
					<td>DHK Zora Olomouc</td>
					<td>13:30</td>
					<td>HBC Jičín</td>
				</tr>
				<tr>
					<td>Handball Val. Meziříčí</td>
					<td>13:30</td>
					<td>Velká Bystřice</td>
				</tr>
				<tr>
					<td>Dvůr Králové</td>
					<td>14:00</td>
					<td>TJ JM Chodov</td>
				</tr>
				<tr>
					<td>ŠKP Bratislava</td>
					<td>14:00</td>
					<td>Sokol Prostějov</td>
				</tr>
				</tbody>	
			</table>
			</div>
		</div>

		<div class="toggle-target-main" data-target="zapasy">
			<div class="toogle">
				<span class="toggle-src-sub-zapasy" data-src="mladsi">Mladší</span>/
				<span class="toggle-src-sub-zapasy" data-src="starsi">Starší</span>
			</div>
			<div class="zapasy toggle-target-sub-zapasy" data-target="mladsi">
				<br>
				<h4>Dosud nebyly odehrány žádné zápasy!</h4>
			</div>
			<div class="zapasy toggle-target-sub-zapasy" data-target="starsi">
				<br>
				<h4>Dosud nebyly odehrány žádné zápasy!</h4>
			</div>
		</div>

		<div class="toggle-target-main" data-target="tabul">
			<div class="toogle">
				<span class="toggle-src-sub-tabul" data-src="mladsi">Mladší</span>/
				<span class="toggle-src-sub-tabul" data-src="starsi">Starší</span>
			</div>
			
			<table class="tabul toggle-target-sub-tabul" data-target="mladsi">
				<thead>
				<tr>
					<th>Pořadí</th>
					<th>Tým</th>
					<th>Zápasů</th>
					<th>Skóre</th>
					<th>Bodů</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>1.</td>
					<td>Tatran Litovel</td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>DHK Zora Olomouc</td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>SK Žeravice</td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td> --- </td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>Sokol Prostějov</td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>Handball Val. Meziříčí</td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>ŠKP Bratislava</td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>HBC Jičín</td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>TJ JM Chodov</td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>STM Olomouc</td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>Velká bystřice</td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td> --- </td>
					<td>počet zápasů Mladší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				</tbody>
			</table>
			<table class="tabul toggle-target-sub-tabul" data-target="starsi">
				<thead>
				<tr>
					<th>Pořadí</th>
					<th>Tým</th>
					<th>Zápasů</th>
					<th>Skóre</th>
					<th>Bodů</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>1.</td>
					<td>Tatran Litovel</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>STM Olomouc</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>Dukla Praha</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>DHK Zora Olomouc</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>Velká Bystřice</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>Dvůr Králové</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>Sokol Prostějov</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>ŠKP Bratislava</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>TJ JM Chodov</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>Handball Val. Meziříčí</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>HBC Jičín</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>Otrokovice</td>
					<td>počet zápasů Starší</td>
					<td>0:0</td>
					<td>0</td>
				</tr>
				</tbody>
			</table>
		</div>
</div>


<script>
toggle(".toggle-src-main", ".toggle-target-main");
toggle(".toggle-src-sub-rozlos", ".toggle-target-sub-rozlos");
toggle(".toggle-src-sub-zapasy", ".toggle-target-sub-zapasy");
toggle(".toggle-src-sub-tabul",  ".toggle-target-sub-tabul");
</script>

</div>
</section>

				
				
				<aside>
					<div class="toogle">
						<span class="aside-active">
							<a href="">Mladší/</a>
						</span>
							<a href="">Starší</a>
					</div>
					
					<div class="aside-padding">
						
						<div class="hrane">
							<h2>aktuálně hrané</h2>

							<div class="zapasy">
								<span class="domaci">
									<h3>Ivanka pri Dunaji</h3>				
									<h3>TJ Jiskra Otrokovice</h3>
								</span>
								<span class="hoste">
									<h3>TJ Jiskra Otrokovice</h3>
									<h3>Ivanka pri Dunaji</h3>
								</span>
							</div>
						</div>

						<div class="nasledujici">
							<h2>následující zápasy</h2>
							
							<div class="zapasy">
								<span class="domaci">
									<h3>Ivanka pri Dunaji</h3>
									<h3>TJ Jiskra Otrokovice</h3>
									<h3>TJ Rožnov p. Radhoštěm</h3>
									<h3>Tatran Litovel</h3>
								</span>

								<span class="hoste">
									<h3>Ivanka pri Dunaji</h3>
									<h3>TJ Jiskra Otrokovice</h3>
									<h3>TJ Rožnov p. Radhoštěm</h3>
									<h3>Tatran Litovel</h3>
								</span>
							</div>

						</div>	

						<div class="poradi">
							<h2 class="h2">pořadí v tabulce</h2>
							<ul class="poradi-head">
								<li>Pořadí</li>
								<li>Tým</li>
								<li>Skóre</li>
								<li>Bodů</li>
							</ul>
							<ul class="gold">
								<li>1.</li>
								<li>Ivanka pri Dunaji</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul class="silver">
								<li>2.</li>
								<li>HBC Jičín</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul class="bronze">
								<li>3.</li>
								<li>TJ Jiskra Otrokovice</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>4.</li>
								<li>TJ Rožnov p. Radhoštěm</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>5.</li>
								<li>Tatran Litovel</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>6.</li>
								<li>TJ Senice na Hané</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>7.</li>
								<li>TJ Sokol II Prostějov</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
							<ul>
								<li>8.</li>
								<li>Ivanka pri Dunaji</li>
								<li>11:5</li>
								<li>50</li>
							</ul>
						</div>
					</div>	
				</aside>

				

		</div>
	
	<div id="map-canvas"></div>

	<footer>
			<div class="date">
				<h2>23. - 25. dubna</h2>
				<h3>2. ročník mezinárodního turnaje v miniházené </h3>
			</div>
			<div class="authors">Matěj Mitaš, Josef Kolář a spousta dalších lidí</div>
	</footer>
</body>
</html>